* {
    box-sizing: border-box;
    margin: 0;
    cursor: default;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
body {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
    background: url(images/Design\ sem\ nome\ \(1\).png);
    backdrop-filter:(30deg);
    object-fit: cover;
}
.container {
    width: 600px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    background: linear-gradient(rgb(19, 18, 18), rgb(7, 7, 7));
    backdrop-filter: blur(3 0px);
}
.faixa-vermelha {
    width: 750px;
    bottom: 90%;
    right: 68%;
    position: absolute;
    height: 200px;
    transform: rotate(165deg);
    background: linear-gradient(rgb(196, 26, 26), rgb(88, 12, 12));
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
  }
.logincontainer {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid whitesmoke 2px;
    background-color: #817c7c;
    box-shadow:  30px 30px 100px #d5d5d510,
             -30px -30px 100px  #ebebeb28;
}
h1 {
    border-bottom: solid black 2px;
    margin-bottom: 50px;
    margin-top: 22px;
    font-size: 52px;
    font-family: 'Nunito', sans-serif;

}
.inputGroup {
    margin-top: 22px;
    position: relative;
}
.inputGroup label{
    background-color: #817c7c;
    position: absolute;
    top: 50%;
    transition: .5s ease;

    left: 5%;
    transform: translateY(-50%);
    font-size: 16px;
    color: aliceblue;
    padding: 0 5px;
    pointer-events: none;
}
.inputGroup input {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    background: transparent;
    border: 1.2px solid #fff;
    outline: none;
    border-radius: 5px;

}
.inputGroup input:focus~label,
.inputGroup input:valid~label {
    top: 0;
}
